@font-face
{
    font-family: 'Roboto Condensed';
    src: url(./fonts/Roboto-Condensed-webfont.ttf);
}

@font-face
{
    font-family: 'Tr2n';
    src: url(./fonts/tr2n.ttf);
}

@font-face
{
    font-family: 'ArmagetronAd';
    src: url(./fonts/Armagetronad.ttf);
}

@media screen and (max-width: 640px) {
table {
    overflow-x: auto;
    display: block;
}
}

::selection
{
    background-color: #77ffff;
}

* {
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

body
{
    background: #f9f9f9 url(./images/bg.jpg) no-repeat fixed;
    background-size: cover;
    font-family: Ariel, Verdana, sans-serif;
    font-size: 13px;

    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

div, .news_date, .news_name, .news_id, td
{
    font-family: Ariel, Verdana, sans-serif;
    font-size: 13px;
}

.center
{
    width: 1368px;
    max-width: 100%;
    margin: 0 auto;
}

.logo
{
    background-size: cover;
    background-image: url(./images/ap_logo.png);
    height: 150px;
    color: #ff8899;

    font-size: 22px;
    padding: 10px;

    text-align: left;

    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;

    border-radius: 10px;
}

.notice
{
    text-align: center;

    vertical-align: top;

    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;

    background-color: rgba(255, 0, 255, 0.5);
    color: #FFFFFF;

    border-radius: 10px;
}

.notice_msg
{
    padding: 10px;
    font-weight: bold;
}

.header
{
    vertical-align: top;

    text-align: center;

    padding: 20px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;

    background-color: #ff3300;

    border-radius: 10px;
}

.header_link
{
    color: #f9f9f9;

    padding: 10px;
    font-weight: bold;

    border-radius: 10px;
}

.header_link:hover
{
    background-color: #333355;
    box-shadow: rgba(0, 255, 255, 0.5) 0 0 10px;
    color: #ffff7f;
}

.header_link_current
{
    background-color: #222222;
    box-shadow: rgba(255, 0, 255, 0.5) 0 0 10px;
    color: #00ffff;
}

.content
{
    text-align: left;

    vertical-align: top;

    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;

    background-color: rgba(44, 0, 255, 0.6);

    border-radius: 10px;
}

.news_id
{
    color: #aa1155;
}

.news_body
{
    background: #f9f9f9;
    color: #444444;

    text-align: left;
    padding: 10px 10px 10px;

    border-bottom: 1px solid #999999;
}

.news_name
{
    color: #9900ff;
}

.news_date
{
    color: #0055ff;
}

.title_header
{
    border-bottom: 1px solid #AAAAAA;
    background-color: #EEEEEE;
    padding: 10px;
}

.title_header_txt
{
    font-weight: bold;
    font-size: 18px;
}

.online_header
{
    border-bottom: 1px solid #AAAAAA;
    background-color: #EEEEEE;
    color: #cc0099;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.online_stats
{
    background: #f9f9f9;
    font-weight: bold;
    padding: 10px;
}

.online_player
{
    background: #f9f9f9;
    width: 50%;
    padding: 5px;
}

pre
{
    overflow: auto;

    padding: 5px;

    background-color: #EEEEFF;
    border: 1px groove #999999;
}

.ranking_body
{
    background: #FFFFFF;
    color: #444444;

    text-align: left;
}

.tls_header
{
    border-bottom: 1px solid #222222;
    padding: 10px;
    text-align: center;
}

.tls_row
{
    border-bottom: 1px solid #BBBBBB;
    text-align: center;
}

.tls_border
{
    border-right: 1px solid #BBBBBB;
}

.record_link
{
    padding: 10px;
    display: block;
    color: #0000ff;
}

.record_link:hover
{
    cursor: crosshair;
}

.tls_select
{
    background: #FFFFFF;
}

.tls_select:hover
{
    background: #DDDDFF;
}

.record_selection:hover
{
    display: block;
    background: #DDDDFF;
}

.player_body
{
    background: #FFFFFF;
    color: #444444;

    text-align: left;
}

.display_view
{
    display: block;
    padding: 10px;
    border-bottom: 1px outset #BBBBBB;
}